html {
  scroll-behavior: smooth;
}
body {
  background-color: #272932;
  margin: 0;
  letter-spacing: -0.1rem;
  font-size: 1.5rem;
}
/*layout*/
#intro {
  height: 100vh;
}
#title-container {
  position: relative;
}
#border-portrait {
  width: 100%;
  height: 80vh;
}
#border-landscape {
  display: none;
}
@media (min-width: 700px) {
  #border-portrait {
    display: none;
  }
  #border-landscape {
    display: block;
    width: 100%;
    height: 80vh;
  }
}
.container {
  width: 90%;
  margin: 0 auto;
}
#home {
  padding: 5.5rem 0;
}
#work {
  padding: 2.5rem 0;
}
#contact {
  padding-top: 1rem;
}
.page {
  background-color: #394648;
}
#contact {
  background-color: #272932;
}
@media (min-width: 600px) {
  .container {
    width: 80%;
  }
}
/*typography*/
body {
  font-family: 'Space Mono', monospace;
  font-weight: 700;
}
.main-title {
  position: absolute;
  color: #f2545b;
  font-size: clamp(3rem, 10vw, 4.5rem);
  margin-left: 15%;
  letter-spacing: -0.3rem;
  line-height: 1.4;
  width: 70%;
}
@media (min-width: 700px) {
  .main-title {
    font-size: clamp(2rem, 9vw, 4rem);
    margin-left: 8%;
  }
}
.main-span {
  color: #F92A82;
}
#main-title-top {
  top: 0;
  margin-top: 8%;
}
#main-title-bottom {
  bottom: 0;
  margin-bottom: 8%;
}
h2 {
  color: #2EC4B6;
  font-size: clamp(2.5rem, 7vw, 4rem);
}
#contact-title {
  color: #f2545b;
}
h3 {
  color: #F92A82;
  margin: 0;
  font-size: clamp(1.5rem, 4.5vw, 2rem);
}
p {
  margin: 0;
}
.card-title:hover > .hover-underline {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(12%, #272932), color-stop(12%, #2EC4B6), color-stop(30%, #2EC4B6), color-stop(30%, #272932));
  background: linear-gradient(0deg, #272932 12%, #2EC4B6 12%, #2EC4B6 30%, #272932 30%);
}
.underline-main {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(12%, #394648), color-stop(12%, #f0f757), color-stop(30%, #f0f757), color-stop(30%, #394648));
  background: linear-gradient(0deg, #394648 12%, #f0f757 12%, #f0f757 30%, #394648 30%);
}
.underline-two {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(12%, #272932), color-stop(12%, #2EC4B6), color-stop(30%, #2EC4B6), color-stop(30%, #272932));
  background: linear-gradient(0deg, #272932 12%, #2EC4B6 12%, #2EC4B6 30%, #272932 30%);
}
/*logo page*/
#logo-container {
  height: 30vh;
  width: 30vh;
  margin: 35vh auto;
}
#logo-link {
  height: 100%;
}
#logo {
  position: absolute;
  height: 30vh;
  width: 30vh;
}
/*nav*/
a {
  text-decoration: none;
}
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  background-color: #272932;
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
}
.container-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.link {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: normal;
  display: none;
}
.nav {
  color: #2EC4B6;
  padding: 1rem;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}
@media (min-width: 600px) {
  .container-nav {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .symbol {
    display: none;
  }
  .link {
    display: block;
  }
  .nav {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
  }
}
.nav:hover, a.nav:focus {
  color: #f0f757;
  background-color: #394648;
}
/*cards*/
.grid {
  margin-top: 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(300px, auto) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  grid-gap: 1rem;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
@media (min-width: 450px) {
  .grid {
    -ms-grid-columns: minmax(360px, auto) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(360px, auto));
    grid-gap: 2rem;
  }
}
.card-link {
  background-color: #272932;
}
.card {
  padding: 20px;
}
img {
  width: 100%;
}
.card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1rem 0;
}
.tool-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.tool {
  color: #2EC4B6;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.tool:hover {
  color: #f0f757;
}
.tool:hover + .tooltip {
  display: inline;
}
.tooltip {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
  display: none;
  font-size: 1rem;
  width: 5rem;
  background-color: #394648;
  color: #f0f757;
  text-align: center;
  padding: 0.2rem 0.4rem;
  margin-top: -1.8rem;
  margin-left: -2rem;
  position: absolute;
  z-index: 1;
}
/*footer*/
footer {
  background-color: #272932;
  width: 100%;
}
.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100%;
}
